
* {
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: auto;
}
#wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Textbox and button for adding new item*/
#itemEntry {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Textbox */
#todoInput {
    flex-grow: 1;
    /*font-size: 5vmin;*/
}

/* Confirmation button */
#confirmEntry {
    border: 0;
    background: transparent;

}

#confirmEntry:hover {
    color: #0f9d58;
}

/*Flex box of item cards*/
main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/*An item */
.card {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    box-shadow: 5px 3px 5px -1px rgba(0, 0, 0, 0.34);
    transition: all 0.1s cubic-bezier(.18, .89, .32, 1.28);
    font-size: xx-large;

}
@media all and (hover) {
    .card:hover {
        width: 101%;
        box-shadow: 5px 3px 5px 2px rgba(0, 0, 0, 0.34);
    }
}
/* Delete button on item card*/
.delete {
    background: transparent;
    border: 0;
    color: #5d6164;
}
.delete:hover {
    color: #f24236;
}

/* Checkbox marking card item as "done" */
.check {
    margin-right: 1em;
    /*width: 4vmin;*/
}

/* User input text on item card */
.itemText {
    flex-grow: 1;
}

@media all and (min-width: 600px) {

}

@media all and (min-width: 1200px) {
    /*#list {*/
    /*    flex: 3 0;*/
    /*    order: 2;*/
    /*}*/

    /*body > * {*/
    /*    font-size: large;*/
    /*}*/
}