/*noinspection CssUnknownTarget*/
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
body {
    /*TODO apply desktop background image?*/
    background: lightgrey center/100% url("img/background.jpg") ;
    font-family: "Ubuntu Mono", monospace;
    color: rgba(0, 255, 0, 1); /*green font*/
}

#terminal {

    background: #1a1a1a;
    border-radius: 5px;
    /*margin: 1vw;*/
    box-shadow: 5px 5px 5px #00000080;
}

#terminal aside:hover, article:hover {
    background: #303030;

}

#titlebar {
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #363636;
    padding: 5px 5px 5px 10px;
}

#fakta {

}
article {
    /*border: 1px solid #cbcbcb;*/
}

h1 {

}

p {
    color: rgba(0, 255, 0, 1);
    padding-left: 4em;
}

h1, h2, h3, p {
    /*border: 1px solid white;*/
    margin: 5px;
}